body {

}


h1 {
	color:white;
	background-color:#4aaaa5;
	float:left;
	width:20%;
	margin:auto;
	text-align:center;
	padding:13px


}



#navi {
	font-size:15px;
	color:grey;
	background-color:white;
	float:left;
	width:55%;
	text-align:right;
	padding:20px;
	border-color:black;

}
h2 {
	color:#4aaaa5;
	clear: both;
	margin-left:10%;
	overflow:auto;
}

.img1 {
	background-size: auto;
	height:200px;
	width:200px;
	margin-left:10%;
	float:left;
	position:relative;
	
}




h3 {
	color:#4aaaa5;
	float:right;
	width:auto;
	background-color:white;
	text-align:center;

}

#p1 {
	color:grey;
	padding-left:26%;
	padding-right:33%;
	position:relative;
	float:left;
	position:absolute;

}


#p2 {
	color:grey;
	padding-left:10%;
	padding-right:33%;
	position:relative;
	float:left;
	position:absolute;

}

.icon{
	
	
	height:40px;
	width:40px;
	float:right;
	margin:auto;
	padding-right:10px;
	display:block;
}
