h1 {
	color:white;
	background-color:#4aaaa5;
	float:left;


}

#pic1 {
	width:30px;
	height:30px;




}

#navi {
	font-size:15px;
	color:grey;
	background-color:white;
	float:left;


}
h2 {
	color:#4aaaa5;
}


h3 {
	color:#4aaaa5;
}

#p1 {
	color:grey;
}


#p2 {
	color:grey;
}