body {

}

#header {
	position:fixed;
	top:0;
	width:15%;
	float:left;
	background-color:#4aaaa5;
	color:white;
	left:5%;
}

#nav{
	position:relative;
	top:0;
	width:80%;
	float:right;
	text-align:right;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:80px;

}

#section {
	position:fixed;
	padding-top:20px;
	border: 1px solid black;
	background-color:white;
	right:40%;
	top:13%;
	left:5%;
	bottom:30%;
	

}

.img1 {
	background-size: auto;
	height:200px;
	width:200px;
	padding-left:5%;
	float:left;
	
}
#p {
	padding-left:25px;
	width:95%;
	border-color:black;
	border:2px;
}


h3 {
	color:#4aaaa5;
	text-align:center;
	position:fixed;
	right:21%;
	padding-top:10%;

}

#aside {

	position:fixed;
	right:20%;
	
	top:32%;
}
 hr {

 	top:20%;
 }


#p2 {
	color:grey;
	padding-left:10%;
	padding-right:33%;
	position:relative;
	float:left;
	position:absolute;

}
#footer {
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
	background-color:grey;
	color:white;
	font-size:20px;
	height:10%;
	border-top: 10px solid #4aaaa5;

}

.icon{
	
	
	height:40px;
	width:40px;
	float:right;
	margin:auto;
	padding-right:10px;
	display:block;


}

}
<!-- Start Second Page-->


